.main-container {
  display: flex;
  flex: 1;
  background-color: #702f3e;
  height: 100vh;
}

.book-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff7f3;
  margin: 20px;
}

.page {
  flex: 1;
  flex-direction: column;
  border: 1px solid #d6cfcb;
  color: #291e16;
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
  padding: 30px;
  overflow-Y: auto;
}

h1 {
  font: bold 3rem "Garamond"
}

h2 {
  font: 2rem "Garamond"
}

h3 {
  font: 1.6rem "Garamond"
}

textarea {
  width: 80%;
  height: 300px;
  resize: none;
  border: 0.3rem outset #8c593b;
  font-size: 20px;
  outline: none;
}

button {
  background-color: #d9ac84;
  color: #291e16;
  font-size: 20px;
  padding: 10px 60px;
  border: 0.2rem outset #8c593b;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}